.card
    if allContents.length
        each content in allContents
            .row
                .col-md-6.card-content
                    .card-body
                        h5.card-title #{content.data_name}
                        p.card-text
                            | #{content.data_description}
                .col-md-6
                    img.card-img-bottom.image(src="/images/card_images/" + content.website_image)