.row
    .col-sm-1
    .col-sm-10.text-center
        ul.social-icons.icon-circle.list-unstyled.list-inline
            li
                a(href="#")
                    i.fa.fa-facebook
            li
                a(href="#")
                    i.fa.fa-twitter
            li
                a(href="#")
                    i.fa.fa-google-plus
            li
                a(href="#")
                    i.fa.fa-whatsapp
    .col-sm-1