extends layout

block head
  include include/head

block header
  include include/header

block sidebar
  include include/sidebar

block main
  if isAddData === true
    include forms/addData

  else if isAllData === true
    include display/allData

  else if isConfigurations === true
    include configurations/configurations

block footer
block foot
  include include/foot
