.col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
    .row
        ol.breadcrumb
            li
                a(href='#')
                    em.fa.fa-home
            li.active All Data
    .row
        .col-lg-12
            h1.page-header.text-center Display All Data
    .row
        .col-md-12
            .panel.panel-default
                #bodyRequests.panel-body.collapse.in
                    .col-md-12
                        form(method='post', action='/admin/allData')
                            table.table.table-hover
                                thead
                                    tr
                                        th ID
                                        th Data Name
                                        th Data Description
                                        th Website Image
                                        th Facebook Image
                                tbody
                                    if contents.length
                                        each content in contents
                                            tr
                                                td #{content.id}
                                                td #{content.data_name}
                                                td #{content.data_description}
                                                td
                                                    img(alt='Website Image', src='/images/card_images/' + content.website_image, height='60', width='60')
                                                td
                                                    img(alt='Facebook Image', src='/images/facebook_images/' + content.facebook_image, height='60', width='100')
                                                td
                                                    input(type="hidden", name='content_id', value=content.id)
                                                    button.btn.btn-primary(type='submit', name='delete')
                                                        span.fa.fa-minus-square.fa-lg(aria-hidden='true')
                                                    button.btn.btn-primary(type='submit', name='edit')
                                                        span.fa.fa-edit.fa-lg(aria-hidden='true')


    include ../include/footer